<% provide(:title, "Neuroscience Colloquium") %>

	<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('coll_b.jpg') %>
	</div>
	<div id="hub_text">
		
		<h1> </h1>
		<p>Invited neuroscientists from around the world speak at the regularly scheduled seminars in Psychology PDBA211 (Wednesdays at 3:30 pm).  Please see the Neuroscience calendar for upcoming colloquium talks.</p>

		<h3>2015-16 Speakers</h3>

		
	</div>
