<% provide(:title, "Rushton Symposium") %>

<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('rushton_b.jpg') %>
	</div>
	<div id="hub_text">
		
		<h1> </h1>
		<p>Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

		<h3><%= link_to 'Rushton 2016, Mind, Body and Sleep: Sleep in the 21st Century', '/episode_pages/rushton2016' %></h3>
		<ul style="list-style:none">
			<li>April 15-16th, 2016</li>
		    <li><strong>Events and Speakers</strong></li>
		    <li>Register Now!</li>
		</ul>

		<h4>Previous Rushtons</h4>
		<ul>
		    <li>Spring 2012</li>
		    <li>Spring 2011</li>
		    <li>Fall 2009</li>
		    <li>Spring 2009</li>
		</ul>
	</div>

	

