<% provide(:title, "Rushton 2016 Symposium") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h3><%= link_to 'Rushton Symposium', '/episode_pages/rushton' %> presents:</h3>
		<h1>Mind, Body and Sleep: Sleep in the 21st Century</h1>
		<h3>April 15-16th, 2016</h3>
		
		<p>Features presentations by prominent neuroscientists on contemporary topics, and provides the graduate students with formal and informal interactions with these internationally recognized scholars. The Rushton Lecture series is named for neuroscientist W. A. H. Rushton (1901-1980), professor at the University of Cambridge before his "retirement" to Florida State University, who is renowned for his work in neuronal excitation and vision.</p>

		<h3>The Speakers:</h3>
		    <strong>Dr. Alex Keene</strong><br />
		    Associate Professor<br />
			Department of Biological Science<br />
		    Florida Atlantic University<br />
		<br />
		<p><strong>Genetic and Evolutionary Dissection of the Sleep-feeding Conflict.</strong></p>
		<p>Animals modulate sleep in accordance with metabolic state, yet the molecular basis for this interaction remains poorly understood. Our research program employs genetic approaches to investigate the integration of sleep and metabolic state.  Starved flies suppress sleep, presumably to increase foraging opportunity. We have performed a large-scale RNAi screen and identified the RNA-binding protein TRANSLIN (TRSN) as essential for suppressing sleep during starvation. Spatially restricted rescue or targeted knock down localizes trsn function to neurons that produce the tachykinin-family neuropeptide Leucokinin. These findings suggest translin and Leucokinin are critical integrators of sleep and metabolic state.   Additionally, we are investigating the evolution of sleep in the Mexican cavefish, Astyanax mexicanus,that evolved in nutrient-poor environments. A. mexicanus exist as isolated populations consisting of an ancestral eyed surface morph and numerous blind cave morphs of the same species. The extreme differences in habitat between surface and cave populations of A. mexicanus present a unique opportunity to examine the consequences of ecology and evolutionary history on sleep. We have previously demonstrated the convergent evolution of sleep loss in multiple independent A. mexicanus cave populations. Our recent findings reveal that increases in the number of mechanoreceptive lateral line neuromasts in cavefish underlie sleep loss and promotes expression of Orexin, a highly conserved sleep-suppressing neuropeptide. These findings demonstrate that evolutionarily derived changes in sensory processing contribute to sleep regulation.</p>

		<br />


	    <strong>Dr. Ted Abel</strong><br />
	    Brush Family Professor of Biology<br />
		Co-Director, Biological Basis of Behavior Program<br />
		Editor-in-Chief, Neurobiology of Learning and Memory<br />
	    University of Pennsylvania<br />
		    

		<br />
		<p><strong>The Impact of Sleep Deprivation on Memory Storage</strong></p>
		<p>Millions of people regularly obtain insufficient sleep. Therefore, understanding the cellular and molecular pathways affected by sleep deprivation is of great social and clinical importance. Sleep facilitates the formation of hippocampus-dependent memories and brief periods of sleep deprivation are detrimental to memory consolidation.  Additionally, sleep is regulated by many of the same molecular processes that contribute to memory storage.  The Abel lab uses a combination of molecular, genetic, and viral approaches to elucidate the mechanisms underlying the impact of sleep deprivation long-term memory consolidation.  Specifically, we have found sleep deprivation induces a cascade of changes in cAMP signaling, protein synthesis and changes in the actin cytoskeleton and dendritic spines.  These molecular and cellular effects of sleep deprivation led to deficits in memory storage and synaptic plasticity.  By manipulating these molecular pathways, we have been able to reverse the memory deficits caused by sleep deprivation.</p>

		<br />


	    <strong>Dr. Jerome Siegel</strong><br />
	    Professor, Department of Psychiatry<br />
		Director Center for Sleep Research<br />
	    UCLA<br />

		<br />
		<p><strong>Sleep in Hunter-gatherers</strong></p>
		<p>How did humans sleep before the modern era? Because the tools to measure sleep under natural conditions were developed long after the invention of the electric devices suspected of delaying and reducing sleep, we investigated sleep in three preindustrial societies. We find that all three show similar sleep organization, suggesting that they express core human sleep patterns, likely characteristic of pre-modern era Homo sapiens. Sleep periods, the times from onset to offset, averaged 6.9-8.5-h, with sleep durations of 5.7-7.1-h, amounts near the low end of those industrial societies. There was a difference of nearly 1-h between summer and winter sleep. Daily variation in sleep duration was strongly linked to time of onset, rather than offset. None of these groups began sleep near sunset, onset occurring, on average, 3.3-h after sunset. Awakening was usually before sunrise. The sleep period consistently occurred during the nighttime period of falling environmental temperature, was not interrupted by extended periods of waking and terminated, with vasoconstriction, near the nadir of daily ambient temperature. The daily cycle of temperature change, largely eliminated from modern sleep environments, may be a potent natural regulator of sleep. Light exposure, was maximal in the morning greatly decreasing at noon, indicating that all three groups seek shade at midday and that light activation of the suprachiasmatic nucleus is maximal in the morning. Napping occurred on &lt;7% of days in winter and &lt;22% of days in summer. Mimicking aspects of the natural environment might be effective in treating certain modern sleep disorders.</p>

		<br />


	    <strong>Dr. Kenneth Wright</strong><br />
	    Professor<br />
		Department of Integrative Physiology<br />
	    University of Colorado Boulder<br />
		    

		<br />
		<p><strong>Influence of Caffeine on the Circadian Clock and Sleep in Humans</strong></p>
		<p>The circadian time keeping and sleep-wake systems interact to modulate 24-hour patterns in physiology and behavior so that biological processes (e.g., metabolism) occur at optimal times of day. The period of the “master” circadian clock, located in the suprachiasmatic nucleus of the hypothalamus, in humans is on average slightly longer than 24h. Thus, to remain in synch with the 24h Earth day, endogenous circadian clocks require environmental input.  This talk will describe key concepts of human circadian timekeeping and sleep, cell-autonomous clock mechanisms, entrainment of endogenous clocks, ways of measuring circadian timing in humans in vivo and in human cells, and will discuss recent findings on the influence of light and caffeine on human circadian timing, temperature physiology, and sleep.</p>

		<br />

		    <strong>Dr. Mary Carskadon</strong><br />
		    Professor, Psychiatry and Human Behavior<br />
			Warren Alpert Medical School of Brown University<br />
			Director, Chronobiology and Sleep Research Laboratory<br />
			EP Bradley Hospital<br />
			<br />
			Professor, Psychology<br />
			Director, Centre for Sleep Research<br />
			University of South Australia<br />

		<br />
		<p><strong>Adolescent Sleep in the 21st Century:  Interactions of Biological and Social Factors</strong></p>
		<p>Certain aspects of adolescent sleep patterns are associated with altered biological regulation of sleep, as well as social/behavioral setting.  This presentation will review the two-process model of sleep regulation to provide a foundation for understanding sleep, reviewing evidence for changes to these fundamental regulatory processes during adolescent development..  Such changes include slowing of the accumulation of sleep drive, delay of the phase of circadian rhythms, and lengthening of circadian period.   Conclusions include:  a. sleep-wake homeostatic change during adolescence supports later bedtime through slower build up of sleep pressure; b. changes to the circadian timing mechanism result in later timing of daily rhythms that displace adolescent sleep to a later clock time; interaction with social pressures often results in short and variable sleep, with consequences for learning, mental health, and overall well-being.  The poorly timed and reduced amount of sleep in adolescents may constitute an “environmental exposure” that can interact with genetic background leading to more negative outcomes in certain young people.  Examples of the interaction of short sleep in the presence of certain serotonin transporter polymorphisms and late/variable sleep timing in the presence of certain PER-3 polymorphisms or epigenetic alterations (methylation) to DNA provide evidence of an impact of sleep on depressed mood.</p>

	</div>