<% provide(:title, "Rushton Registration") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h3>Please fill out the following to register for the upcoming Rushton event.</h3>

		<p></p>
		<p></p>
			
	</div>

	
</div>