<% provide(:title, "Smith Lecture") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('smith_banner.jpg') %>
		</div>
		<h1> </h1>


		<h4 class="hub_para">About the Smith Lecture</h4>

		<p class="hub_para">Established by a generous gift from Mr. Stan and Mrs. Paula Warmath, long-time friends and associates of Dr. James C. Smith, the annual lecture features an invited internationally renowned speaker who is conducting behaviorally oriented research on scientific problems in neuroscience. The Warmaths’ gift, coupled with continuing donations from other friends, former students, and colleagues of Dr. Smith, as well as support from the Department of Psychology and the Program in Neuroscience, provides the opportunity for FSU faculty and students to interact with these distinguished scholars during their visits to campus.</p>

		<h4 class="hub_para">The James C. Smith Lecturers</h4>

		<p class="hub_para">
			 <ul class="hub_para">
			 	<li>2009 Steve Woods (U Cincinnati)</li>
			 	<li>2010 Gerry Smith (Cornell U)</li>
			 	<li>2011 Marilyn Carroll (U Minnesota)</li>
			 	<li>2012 Harvey Grill (U Penn)</li>
			 	<li>2013 Tony Sclafani (Brooklyn College, CUNY)</li>
			 	<li>2014 Ralph Norgren (Penn State)</li>
			 	<li>2015 Linda Rinaman (Pitt)</li>
			 	<li>2016 Alan Spector (FSU)</li>
			 </ul>
		</p>  
		

		<h4 style="clear:both" class="hub_para">About James C. Smith, Ph. D.</h4>

		<p class="hub_para">After he earned his Ph.D. from Florida State University in 1959, Dr. Smith joined the faculty, and since that time has received every award that the university has to offer. In 1992 Smith was named a Robert O. Lawton Distinguished Professor, the highest award bestowed upon a faculty member by the University. Smith was also the recipient of the University Distinguished Teacher Award based on a lifetime of teaching excellence, and in 2005 the College of Arts and Sciences honored Dr. Smith as their Graduate of Distinction. Dr. Smith has also received international recognition for his scientific achievements including The Distinguished Career Award from the Society for the Study of Ingestive Behavior, a National Sigma Xi Lectureship, and the Mozell Award for Outstanding Achievement in the Chemical Senses from the Association for Chemoreception Sciences. After 52 years on the Department of Psychology faculty, Dr. Smith retired but still remains active in research at FSU as Professor Emeritus.</p>









	<div id="person_left" class="col-sm-6 col-md-7">
   	   <div class="hub_para">
   		<%= image_tag("smith_woods.jpg") %>
   	   </div>
    </div>
   
    <p> </p>

    <div id="person_right" class="col-sm-6 col-md-5 smith_info">
   		<h2>Steve Woods</h2>
		<h4>2009</h4>
		<dl>
			<dd>The Control of Food Intake: Behavioral vs. Molecular Perspectives</dd>
		</dl>
    </div>




	</div>
</div>





