<% provide(:title, "Brain Awareness Week") %>


<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('brainaware_b.jpg') %>
		</div>

		<div class="hub_para">
			<h1>Brain Awareness Week</h1>

			<h4>What is the Brain Awareness Week</h4>

			<p>Brain Awareness Week (BAW) was  founded  by  the  <a href="http://www.dana.org/brainweek">Dana  Alliance  for  Brain Initiatives</a> and its sister organization, the European Dana Alliance for the Brain. It is an international campaign to advance public understanding of brain research. Over the past 14 years of BAW, the Dana Alliance has been joined by partners from around the world, including university, hospitals, patient groups, government agencies, schools, service organizations, and professional associations to introduce the wonders of the brain tothe general public.</p>

			<p>At Florida State University, the Neuroscience Graduate Association participates in Brain Awareness Week by bringing hands on brain-related demonstrations to local elementary, middle, and high schools in the Tallahassee, Florida area.</p>

			<p><strong>The official SfN designated Brain Awareness Week is March 14-20, 2016.</strong></p>

			<h3>FSU BAW Scheduled Events</h3>

			<h4>Fall High School Visits</h4>

			<p>During September and October 2015, graduate students from the Neuroscience Program and other programs in Psychology, Biology, and the College of Medicine at FSU will be visiting local Big Bend high schools to:</p>
				<ol>
				    <li>Educate students about topics of the brain and neuroscience (including demonstrations) as part of our BAW activities</li>
				    <li>Provide information regarding and registration forms for the 9th Annual North Florida Brain Bee held in January 2015</li>
				    <li>Inform students about the opportunity to participate in the FREE Neuroscience Study Program.</li>
				</ol>

			<h4>Spring Elementary/Middle School Event</h4>

			<p>The Neuroscience Graduate Program will be hosting a Brain Fair in late spring to teach children of all ages about the wonders of the brain. We offer interactive demonstrations, hands-on activities, and a unique experience to engage with real scientists. You can learn about your senses, explore the brain, and build a neuron. This event is FREE and open to the public.</p>

			<p>These visits will include age-appropriate hands-on demonstrations about  the nervous   system,   sensation/perception,   and   neuroanatomy    (including interaction with real sheep brains).</p>

			<h4>Classroom Registration for BAW Events</h4>

			<p>If you are a local 812 teacher in the Big Bend area and would like the Neuroscience Graduate Student Association to visit your classroom during one of our BAW events, please contact <%= link_to 'Kirill Korshunov', '/grad/kkorshunov/' %> and provide information about availability (dates and times) and number of students perclass.</p>
		</div>


	</div>
</div>


