<% provide(:title, "Brain Bee") %>


<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('brainbee_b.jpg') %>
		</div>

		<div class="hub_para">
			<h1>The North Florida Brain Bee</h1>

			<h4>Presented by the Neuroscience Program at Florida State University</h4>

			<h3>What is the Brain Bee?</h3>

			<p>The 9th Annual North Florida Brain Bee will be held on <strong>Saturday, January 23rd, 2016</strong>.  This is a  live  Q  &amp;  A  competition that tests the neuroscience knowledge of high school students. Young men and women compete to determine who is the "best brain" on such topics as intelligence, learning and memory, emotions, sensations, movement, stress, aging, sleep, addiction, neuroanatomy and neural disorders. Participants can study this material by using "Brain Facts" published by the Society for Neuroscience.</p>

			<p>The winner of the North Florida Brain Bee competition  will  travel  to  the National Brain Bee Competition in Baltimore, Maryland.   The  FSU program in Neuroscience will fund travel expenses, lodging, food, and  local transportation for the winner and a chaperone. In addition, the top 3  place winners will be awarded with a cash prize. All participants will receive a certificate and t-shirt.</p>

			<p>The winner of the National Brain Competition  in  Baltimore,  Maryland  will travel to attend the International Brain  Bee  (IBB)  competition.  The  IBB winner will receive $3000, an individual  trophy,  a  traveling  trophy  for their high school,  and  a  fellowship  to  work  in  the  laboratory  of  a neuroscientist during the summer. There will also be prizes for  second  and third place winners.</p>

			<h4>Past North Florida Brain Bee Winners</h4>

			<p>
				 <ul>
				 	<li>2015 - Abhishek Venkat Iyer (American Heritage School - Boca Delray Campus)</li>
				    <li>2014 - Jeffrey Zhu (Lawton Chiles High School)</li>
				    <li>2013 - Alexander Alabugin (Lawton Chiles High School)</li>
				    <li>2012 - Kevin Byun (Maclay High School)</li>
				    <li>2010 - David Stupsky (Maclay High School)</li>
				    <li>2009 - Minjia (Lisa) Fan (Lincoln High School)</li>
				    <li>2008 - Connie Ji (Leon High School)</li>
				    <li>2007 - Margaret Thairu (Leon High School)</li>
				 </ul>
			</p>  
			

			<h4>FSU Neuroscience Study Program</h4>

			<p>In preparation for the 8th Annual North Florida Brain Bee, the Neuroscience Program at Florida State University will host a FREE Preparatory and Review Lecture Series for all high school students interested in participating in the Brain Bee. The review sessions will be held weekly on the FSU campus and will include instruction on and review of material that will be covered during the Brain Bee.</p>

			<p>After registering for the North Florida Brain Bee, students can enroll for the Neuroscience Study Program by contacting <%= link_to 'Aliza DeNobrega', '/grad/adenobrega/' %>.  Additional  information  will  be  provided after enrollment.</p>

			<h4>Fall Classroom Visits</h4>

			<p>During this September and October, graduate students from the Neuroscience Program and other programs in Psychology, Biology, and the College of Medicine at FSU will be visiting local Big Bend high schools to promote brain and neuroscience knowledge and provide information regarding the 9th Annual North Florida Brain Bee held in January 2015 and FREE Neuroscience Study Program.</p>

			<p>For more information about this event,  please  visit  our <a href="/ngsa/baw/">Brain Awareness Week</a> webpage.</p>

			<h4>How to Register for the North Florida Brain Bee</h4>

			<p>See your teacher for a copy of the registration form, or contact <%= link_to 'Kirill Korshunov', '/grad/kkorshunov/' %>.</p>

			<h4>Study Material</h4>

			<p>
				<ul>
				 	<li><a href="/ngsa/brainfacts.pdf">Brain Facts</a></li>
				    <li><a href="/ngsa/science_of_the_brain.pdf">Neuroscience: The Science of the Brain</a></li>
				    <li><a href="/ngsa/brain_structure_function.pdf">Neuroanatomy: List of Brain Structure and Function</a></li>
				    <li><a href="http://freud.psy.fsu.edu/grad.students/psmith/psb3004L/home_page.html">Interactive Study Guide</a></li>
				 </ul>
			</p>

			<h4>Related Links</h4>

			<p>
				 <ul>
				 	<li>Source of Brain Facts: <a href="http://www.sfn.org/index.aspx?pagename=brainFacts&section=publications">Society for Neuroscience</a></li>
	    			<li>Source of Neuroscience-The Science of the Brain: <a href="http://www.braincampaign.org/Pub/Pub_Main_Display.asp?LC_Docs_ID=2769">International Brain Research Orgnaization</a></li>
	    			<li><a href="http://www.internationalbrainbee.com/study_mats.html">International Brain Bee</a></li>
				 </ul>
			</p>

			<p>For more information about the  North  Florida  Brain  Bee,  please contact <%= link_to 'Sean Ogden', '/grad/ogden/' %>.</p>
		</div>


	</div>
</div>




		