<% provide(:title, "Bran Fair") %>


<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('brainfair_b.jpg') %>
		</div>
		
		<div class="hub_para">
			<h1>Brain Fair 2015</h1>

			<h4>An event for kids of all ages to learn how their brains work.</h4>

			<p>The Neuroscience Program at Florida State University is excited to announce the fourth annual Brain Fair. This year, come discover the hidden secrets of your brain with a trip through our Brain Safari!</p>

			<p>The Brain Safari offers something remarkable for all ages. Come build your own neuron, watch the neurons within you fire, witness your senses in action, observe real brains, and discover many more phenomenon you didn't even know existed! As an added bonus to your journey, you'll also learn about which animals have "super senses" that help them thrive and survive. Take heed, this journey is for the adventurous scientist within you!</p>

			<p><u>Come join us for the Brain Safari Saturday, April 11th, from 1-5pm at the FSU Psychology Building (1107 W Call St).</u></p>

			<p><strong>Believe us when we say, you won't want to miss this expedition!</strong></p>

			<p>
				 <ul>
				 	<li><strong>Day: April 11th</strong></li>
					<li><strong>Time: 1pm - 5pm</strong></li>
					<li><strong>Venue:</strong> FSU Department of Psychology Building, 1107 W. Call
					Street</li>
					<li><strong>Cost:</strong> Free</li>
					<li><a href="">Download the flyer here!</a></li>
					<li><a href="">Map and directions.</a></li>
					<li><a href="https://www.flickr.com/photos/130941966@N03/collections/72157651175
					500581/">View Pictures from previous Brain Fairs</a></li>
					<li><%= link_to 'My Document', 'BrainFairPoster2016.pdf' -%></li>
				 </ul>
			</p>  

			<p>For more information about the Brain Fair,  please  contact <%= link_to 'Sean Ogden', '/grad/ogden/' %></p>
		</div>


	</div>
</div>
